.main-day-news {
  display: flex;
  &__title {
    font-size: 26px;
    font-weight: 700;
  }
  &__img {
    width: 280px;
    height: 200px;
  }
  &__new {
    font-size: 20px;
    line-height: 26px;
    width: 280px;
    height: 200px;
    margin-right: 30px;
  }
  &__new:last-child {
    margin-right: 0;
  }
}
