.main-content {
  display: flex;

  &__news-content {
    flex: 0 0 300px;
  }

  &__router {
    flex: 1 0;
  }
}

@media (max-width: 805px) {
  .main-content {
    &__news-content {
      display: none;
    }
  }
}
