<div class="weather-page__container">
  <div class="weather-page__cities">
    <app-weather-in-my-city [currentCity]="currentCity"></app-weather-in-my-city>
    <app-weather-other-city [citiesList]="citiesList"></app-weather-other-city>
  </div>
  <div class="weather-page__weather">
    <app-weather-timeline [temperaturas]="temperaturaOnWeek" [activForecastDay]="activeWeatherCard" ></app-weather-timeline>
  </div>
  <div class="weather-page__main-news">
    <app-main-daily-news></app-main-daily-news>
  </div>
</div>
