.weather-page {
  display: flex;

  &__news-content {
    justify-content: start;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 50px 100px 30px 65px;
  }

  &__cities {
    display: flex;
    justify-content: space-around;
  }

  &__weather {
    display: flex;
    flex-flow: column wrap;
  }
}

@media (max-width: 960px) {
  // .container {
  // }
}

@media (max-width: 600px) {
  // .container {
  // }
}
