.weather-page {
  &__container {
    padding: 50px 100px 30px 65px;
  }

  &__cities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 1265px) {
  .weather-page {
    &__cities {
      justify-content: center;
    }
  }
}
